.cards {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}
.deleteBtn {
  color: #aaaaaa;
  float: right;
  font-size: 22px;
  width: 10px;
  margin-left: 185px;
  font-weight: bold;
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}